.patt_bg_nav{background: #2e2e2f;}
.patt_bg_sort{background-color: #4d4d4e;}
.patt_bg_header_checked{background: #9b0913;}
.header_style0 .header_navbox .header_nav .header_sortnav li:hover{background: #9b0913;}
.header_style0 .header_navbox .header_nav .header_sortnav li:active{background: #9b0913;}
