.main-box{
    width: 80%;
    margin: 20px auto;
}
.title-box{
    font-size: 25px;
    font-weight: 900;
    border-bottom: 2px #ccc solid;
    margin-bottom: 20px;
}
.img-box{
    display: inline-block;
    padding: 10px;
    width: 24%;
    cursor: pointer;
}
.img-style{
    width: 100%;
}

.img-style:hover{
    　　transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}