<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dagu.dao.FileDao">


	<insert id="addFile" parameterType="com.dagu.pojo.File">
		insert  into  file (fid,ffid,fname,lasttime,uploadman,path,authority) value
		(default ,#{file.ffid},#{file.fname},now(),#{file.uploadMan},#{file.path},#{file.authority});
	</insert>
</mapper>